<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contract.name %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>

<hr>

<%= render partial: 'attachments/index_for_attachable', locals: { attachable: @contract } %>
<%= render partial: 'attachments/form_for_attachable', locals: { attachable: @contract } %>
